@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .skill{
        @apply absolute flex py-6 hover:translate-x-0 transition-all ease-in-out duration-1000 translate-x-36 items-center justify-center  left-0 top-0 bottom-0 right-0 hover:rounded-lg rounded-sm cursor-pointer
    }

    .btn {
        @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3
    }
    .input {
        @apply placeholder:text-stone-400 rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3
    }

    .timeline-item { position: relative; }

    /*.timeline-item:not(:last-child) { margin-bottom: 20px; }*/

    .time-line:not(:last-child)::before {
        content: "";
        position: absolute;
        top: -32px;
        left: 6px;
        width: 1px;
        height: calc(100% + 50px);
        background: theme(colors.zinc.700);

    }
    .project-item-icon-box{
        --scale: 0.8;

        background: theme(colors.zinc.700);
        color: theme(colors.amber.200);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(var(--scale));
        font-size: 20px;
        padding: 18px;
        border-radius: 12px;
        opacity: 0;
        z-index: 1;
    }

    .timeline-item::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -33px;
        height: 6px;
        width: 6px;
        background: theme(colors.zinc.700);
        border-radius: 50%;
        box-shadow: 0 0 0 4px theme(colors.zinc.700);
    }

    /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
    .loader {
        width: 45px;
        aspect-ratio: 0.75;
        --c: no-repeat linear-gradient(theme(colors.yellow.500) 0 0);
        background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
        background-size: 20% 50%;
        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
        }

        40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
        }

        60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
        }

        80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
        }
    }

}